@use "./base/0" as base;
@use "./animations/0" as animations;
@use "./plugins/0" as plugins;

:root {
  --font-family: "Merriweather", sans-serif;
  --default-font-size: 1.6rem;
  --line-height: 1.3;
  --text-color: #131313;
  --link-color: rgba(0, 0, 0, 0.5);
  --link-hover-color: #000;
  --background-color: #f9f9f9;
}

body {
  font-weight: 400;
}
