@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* -----------
Font sizes REM
----------- */

.fs-2-1 {
  font-size: 2.1rem;
}

/* -----------
Line height REM
----------- */

.lh-2-1 {
  line-height: 2.1rem;
}

/* -----------
Letter spacing PIXELS
----------- */

.ls-2 {
  letter-spacing: 2px;
}

/* -----------
Colors
----------- */

.w {
  color: $w;
}
